body{
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 25vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

h1,h2,h3{
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-size: 22pt;
    font-family: 'Shrikhand', cursive, sans-serif;
    color: #DAA520;
    border: solid rgb(201, 195, 195) 4px;
    padding: 15px;
    margin: 15px 15px 10px 0px;
}

header:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 24px;
}

.barra{
    width: 90%;
    height: 10px;
    background-color: #DAA520;  
}

nav{
    display: none;
}

a{
    text-decoration: none;
    color: rgb(206, 171, 82);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(20vh + 32px);
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70vh;
}

#pum{
    text-align: center;
    font-weight: bolder;
    color:black;
}

h2{
    text-align: center;
    color:#DAA520;
}

#sobre div{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    text-align: justify;
    color: white;
}

#sobre div img{
    border: solid rgb(201, 195, 195) 4px;
    margin-left: 10px;
}

#pensando{
    align-self: flex-start;
}

#cff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cff > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

 #cff div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
 }

 #criando{
    align-self: flex-end;
 }

 #cff div img:hover{
    transform: scale(2);
 }
 
 #perguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
 }

 lt{
     margin-left: 10px;
    color: rgb(160, 117, 9);
 }

 #Download div{
    display: flex;
    justify-content: center;
 }

 #Download div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

#Download p{
    font-size: 12pt;
}

 #Download img{
    margin-right: 10px;
 }

 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100vw;
    background-color: rgb(34, 34, 34);
 }